@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
}

.wrapper {
  text-align: center;
  border: 5px;
  width: 1920px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0.5% 0 0.5%;
}

.highlight {
  background-image: url("img/highlight/bg_header_743.png");
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center center;
  width: 100%;
  height: 1080px;
  /* margin-bottom: 200px; */
}

.highlight__body {
  max-width: 823px;
  height: auto;
  margin: 0px auto;
  text-align: center;
  display: inline-block;
  position: relative;
}
.highlight__header {
  margin: 165px 0px 159px 0px;
}
.item-highlight__title3 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
}
.item-highlight__text3 {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.16em;
  color: #ffffff;
}
.line__white {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 47%;
  background-color: #ffffff;
  margin: 0px 0px -30px 0px;
}
.item-highlight__icon1 {
  top: 165px;
}
.item-highlight__icon1 img {
  width: 195px;
  height: 123px;
}
.highlight__row {
  position: relative;
  /* vertical-align: bottom; */
  display: inline-block;
  bottom: 0;
}

.highlight__basement {
  margin: 165px 0px 0px 0px;
  position: relative;
  left: 38%;
}
.item-highlight__title {
  border: 1px solid #ffffff;
  width: 182px;
  height: 47px;
  text-align: center;
  padding: 13px 0 0 0;
}
.item-highlight__title span {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.item-highlight__icon2 {
  margin: 153px 0 0 0;
  margin-left: -580px;
}
.item-highlight__icon2 img {
  width: 17px;
  height: 10px;
}
/* /////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
.about__body {
  max-width: 823px;
  margin: 0px auto;
}

.about__header {
  margin: 0px 0px 65px 0px;
}
.about__menu {
  display: inline-flex;
  margin: 0 auto;
  padding-top: 22px;
  margin-right: 15px;
}

.menu-item span {
  margin-left: 15px;
  justify-content: space-around;
  /* font-family: Lato; */
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  font-weight: 400;
  color: #3c3c3c;
}

.home span {
  color: #ada074;
}
.about__title {
  margin: 154px 0px 30px 0px;
}

.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
  padding-bottom: 95px;
}

.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
.title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}

.item-about__icon {
  margin: 0px auto 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item-about__title {
  text-align: center;
  color: #000000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 35px 0px;
}

.item-about__text {
  text-align: center;
  color: #868585;
  line-height: 26px;
  font-weight: 300;
  font-size: 14px;
}
/* //////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////// */
.portfolio {
  padding: 107px 350px 0px;
  /* position: relative; */
  background-color: #f3f3f3;
  height: 1671px;
}

.portfolio__title h1 {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  margin-bottom: 71px;
}

.lineblack {
  content: "";
  position: relative;
  width: 81px;
  height: 1px;
  left: 49.5%;
  background-color: #000;
  margin: 0px 0px 20px -38px;
}

.portfolio__container {
  position: relative;
  height: 800px;
  width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 136px;
}

.portfolio__item {
  width: 538px;
  height: 365px;
  background-color: #eaeaea;
  width: calc(50%-8px);
  margin-bottom: 8px;
}
/* //////////////////////////////////////////////////////////////////////// */
.portfolio__basement {
  position: relative;
  margin: 360px 0 0px 0;
  left: 43%;
  color: #000000;
  border: 1px solid #000;
  width: 182px;
  height: 47px;
  text-align: center;
  padding: 13px 0 0 0;
}
.portfolio__basement span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
}
/* //////////////////////////////////////////////////////////////////////////////////// */

.partners {
  background-image: url(../img/partners/bg_header_copy_884.png);
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center center;
  width: 100%;
  height: 389px;
  padding: 108px 0 94px;
}
.partnersTitle {
  /* margin: 0 auto; */
  height: 28px;
  margin-bottom: 100px;
}
.partnersTitle h1 {
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.boxPartners {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.itemPartners {
  width: 111px;
  height: 63;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.contact {
  margin: 0 auto;
  width: 900px;
  min-height: 100px;
  height: 700px;
  padding-bottom: 100px;
}
.contactTitle {
  margin-top: 183px;
  margin-bottom: 50px;
}
.contactTitle h1 {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}
.lincontact {
  margin-bottom: 70px;
}
.containerContact {
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.boxContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 383px;
  height: 300px;
}
.contactName {
  align-items: start;
  height: 69px;
  width: 161px;
}
.contactInput {
  width: 151px;
  height: 25px;
  background-color: #f8f7f7;
}
.contactEmail {
  width: 161px;
  height: 45px;
}
.contactMessage {
  height: 162px;
}
.contactInput2 {
  width: 383px;
  height: 118px;
  background-color: #f8f7f7;
}
.lettersContact {
  margin-bottom: 10px;
  text-align: left;
}
.lettersContact span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
}
.feedback {
  width: 252px;
  /* height: 196px; */
  text-align: left;
}
.feedback span {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
}
.toHelp {
  margin-bottom: 10px;
}
.surnameName {
  margin-bottom: 6px;
}
.surnameName span {
  font-weight: 700;
}
.socialNetworks {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: center;
}
.socNetLogo span {
  font-weight: 700;
}
.socNetLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid black;
  padding: 0 9px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 1em;
  text-align: center;
}
.mail span {
  font-weight: 700;
}
.contactSend {
  padding-right: 170px;
}
/* /////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////// */
.footerSite {
  padding-top: 48px;
  margin: 0 auto;
  min-height: 100px;
  height: 274px;
  background-image: url(../img/footer/background_161.png);
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center center;
  width: 100%;
}
.fSimg {
  margin: 0 auto;
  width: 122px;
  height: 78px;
}
.fSimg img {
  width: 100%;
  height: 100%;
}
.footerBox {
  margin: 41px 0 34px;
}
.footerMenu {
  margin: 0 auto;
  width: 300px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.itemfM {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
}
.footerRights span {
  font-family: "Myriad Pro";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}
